/*Global settings*/


/*
Main color : #19a243 // grean;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background: black;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

section {}

.mainColor {
  color: #19a243;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  max-width: 1078px;
  width: 100%;
  margin: 0 auto;
}


/*Main Header*/

header {
  height: 100vh;
  background-image: url("../images/slider1.jpg");
  /* Set a specific height */
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}


/*Navigation*/

.logo {
  float: left;
  font-family: 'Lobster', cursive;
  font-size: 20px;
}

nav {
  padding: 40px;
  position: fixed;
  z-index: 99999999;
  right: 0;
  left: 0;
  transition: all 1s;
}

.scrolledNav {
  background: black;
  padding: 10px;
}

.mainNav {
  float: right;
}

.mainNav li {
  display: inline-block;
  margin-left: 5px;
}

.mainNav li a:hover {
  color: #19a243;
}

.mainNav li a {
  padding: 5px
}

.overLay {
  position: relative;
  height: 100%;
  min-height: 100vh;
  z-index: 10000;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


/*Main Slider*/

.landing {
  text-align: center;
  color: white;
  clear: both;
  position: absolute;
  top: 15vh;
  right: 0;
  left: 0;
  z-index: 999999;
}

.myCapt {
  width: 68vw;
  margin: 0 auto;
  font-size: 22px;
}

.downArrow {
  border: 2px solid white;
  border-radius: 50%;
  width: 50px;
  display: inline-block;
  margin-top: 10px;
  height: 50px;
  line-height: 50px;
  font-size: 34px;
}

.landing h1 {
  margin-top: 20vh;
  margin-bottom: 20px;
  font-size: 50px;
  font-family: 'Lobster', cursive;
}


/*About Us section*/

#aboutUs {
  height: 100vh;
  background: url('../images/about-banner.jpg') no-repeat;
  /* Set a specific height */
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  position: relative;
}

#aboutUs h2 {
  padding-top: 20vh;
  margin-bottom: 40px;
  font-size: 35px;
}

#aboutUs p {
  line-height: 2;
}

#aboutUs .container {
  position: absolute;
  top: 15vh;
  right: 0;
  left: 0;
  z-index: 999999;
}

.overLay2 {
  position: relative;
  height: 100%;
  z-index: 10000 min-height:100vh;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


/*Services Section*/

#services {
  background: url("../images/services back.jpg");
  /* Set a specific height */
  min-height: 500px;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  position: relative;
}

#services .container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999999;
}

#services .service {
  float: left;
  width: 49%;
  background-size: contain;
  margin: 0.5%;
  box-sizing: border-box;
}

.secHeader {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 50px;
  font-size: 38px;
}

#services img {
  width: 100%;
}

#mobileServ {
  background: url("../images/des3.jpg") no-repeat;
  background-position: center;
  background-size: cover !important;
}

#webServ {
  background: url("../images/des4.jpg") no-repeat;
  background-size: cover !important;
}

#desktopServ {
  background: url("../images/des1.jpg") no-repeat;
  background-size: cover !important;
}

#designServ {
  background: url("../images/des2.jpg") no-repeat;
  background-size: cover !important;
}

.service {
  width: 50%;
  height: 40vh;
  transition: all 1s;
  overflow: hidden;
}

.service:nth-child(2) {
  border-radius: 30px 0 0 0;
}

.service:nth-child(3) {
  border-radius: 0 30px 0 0;
}

.service:nth-child(5) {
  border-radius: 0 0 30px 0;
}

.service:nth-child(4) {
  border-radius: 0 0 0 30px;
}

.service .caption {
  background: rgba(0, 0, 0, 0.68);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s;
  box-sizing: border-box;
  color: #c9d4c9;
}

section {
  overflow: hidden;
  width: 100vw;
}

.service .caption h3 {
  padding: 5vh 0;
  color: white;
}

.service:hover .caption {
  opacity: 1;
}


/*Team Section*/

#team {
  min-height: 100vh;
  clear: both;
  background-color: #e9eaea;
  margin-top: 50px;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(233, 234, 234, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(233, 234, 234, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(233, 234, 234, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#team .container {
  width: 100vw;
  overflow: hidden;
  clear: both;
}

#team .teamTitle {
  color: #19a243;
  text-align: center;
  font-size: 36px;
}

#team .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 23%;
  margin: 1%;
  text-align: center;
  float: left;
  border-radius: 6px;
  background-color: #000000;
}

#team .card h1 {
  color: #19a243;
}

#team .card img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#team .cardContainer {
  padding: 0 16px;
}

#team .card p {
  color: grey;
  min-height: 42px;
  font-size: 18px;
}

#team button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #19a243;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-bottom: 17px;
  border-radius: 3px;
}

#team a {
  text-decoration: none;
  font-size: 22px;
  color: grey;
  padding: 0 3px;
}

#team button:hover {
  background-color: #13d44e;
}

#team a:hover {
  color: #13d44e;
}


/*Contact Us section*/

#contactUs {
  background: #e8e9e9;
  font-family: 'Merriweather', sans-serif;
  padding: 1em;
  min-height: 100vh;
  overflow: hidden;
}

#contactUs .secHeader {
  font-size: 30px;
  padding-top: 30px;
  margin-bottom: 0;
}

#contactUs form {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
}

#contactUs input, #contactUs textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: 'Merriweather', sans-serif;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}

#contactUs form :focus {
  box-shadow: 0 0px 2px #19a243 !important;
}

#input-submit {
  color: #fff;
  background-color: #19a243;
  cursor: pointer;
}

#input-submit:hover {
  box-shadow: 0 1px 1px 1px #aaa;
}

#contactUs textarea {
  height: 153px;
}

#contactUs .half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

#contactUs .right {
  width: 50%;
}

#contactUs .left {
  margin-right: 2%;
}


/*End Contact Us*/


/*Start google Map*/

#mapka {
  width: 100%;
  height: 500px;
  margin: 0;
  padding: 0;
}


/*Start footer*/

#footer {
  background-color: #191E22;
  color: #6A6E71;
  padding: 20px 0;
  text-align: center;
  overflow: hidden;
}

#footer span {
  float: left;
  font-size: 18px;
}

#footer ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  float: right;
}

#footer ul li {
  display: inline-block;
  font-size: 23px;
  margin-left: 5px
}

#footer ul li:hover {
  color: #19a243;
  transition: color 0.4s;
}


/*End footer*/


/*End googl Map*/


/* Clearfix */

.cf:before, .cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}


/* Media queries*/


/*Tablet */

@media screen and (max-width: 768px) {
  #team .card {
    width: 45%;
    margin: 2.5%
  }
}


/*Mobile*/

@media screen and (max-width: 480px) {
  #contactUs .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
  #footer span {
    float: none;
    display: block;
    font-size: 16px;
  }
  #footer ul {
    float: none;
    margin-top: 5px;
  }
}
/*Navigation bar */
@media screen and (max-width: 500px) {
  .logo {
    float: none;
    text-align: center;
  }
  .mainNav {
    float: none;
    margin-top: 8px;
    text-align: center;
  }
}
