/*Global settings*/
*{
  margin:0;
  padding:0;
}
/*Navigation*/
.logo{
  float: left;
}

/*Main Slider*/
.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f00;
}
